<h2>Gestion d'actualités</h2>
<p>
	<a class="back" href="actualites/addActu">Ajouter une actualité</a>
</p>

<table class="admin-table">
	<thead>
			<th>Titre</th>
            <th>Contenu</th>
            <th>Date</th>
            <th>Image</th>
			<th>edit/suppr</th>
	</thead>
	<tbody>
		<% for(let i = 0; i < actus.length; i++) { %>
			<tr data-id="<%=actus[i].id%>">
				<td>
					<a href="/actusIndex/<%=actus[i].id%>"><%=actus[i].titre%></a>
				</td>
				<td><%=actus[i].contenu.substring(0, 30)%> ...</td>
                <td><%=actus[i].date.toLocaleDateString()%></td>
				<td><img class="mini-img"
					src="/<%=actus[i].image_url%>"
					alt="<%=actus[i].titre%>"></td>
				<td>
                    <a class="edit" href="/admin/actualites/editActu/<%=actus[i].id%>">edit</a>
                    <button class="js-remove-actu-button" data-id="<%=actus[i].id%>">supp</button>
                </td>
				
			</tr>
		<% } %>
	</tbody>
</table>



<script language="javascript" src="/js/index.js"></script>