
<section class="classes-index">
    <h2 class="classes-index-title">Classes</h2>

    <% for(let i = 0; i < classes.length; i++) { %>
        
        <div class="classes-choix" data-id="<%= classes[i].id %>">
            
            <a href="/classesIndex/<%= classes[i].id %>">
                <img class="logo-classe" src="/<%= classes[i].classe_logo_url %>" alt="<%= classes[i].nom %>">
                <div class="class-nom"><%= classes[i].nom %></div>
            </a>
        
        </div>
    <% } %>
</section>