<h2 class="classes-index-title">Classes</h2>
<section class="classes-index">
    <% for(let i = 0; i < classes.length; i++) { %>
        <div data-id="<%= classes[i].id %>">
            <img class="mini-img" src="/<%= classes[i].classe_logo_url %>" alt="<%= classes[i].nom %>">
            <a href="/classesIndex/<%= classes[i].id %>"><%= classes[i].nom %></a>
        </div>
    <% } %>
</section>