<h2>Editez une Classe</h2>

<form action="/admin/classes/editClasses/<%= classes.id %>" method="post">
  <input type="hidden" name="id" value="<%= classes.id %>" />

  <p>
    <label for="name">Nom de la Classe</label>
    <input type="text" name="nom" value="<%= classes.nom %>">
  </p>

  <p>
    <label for="description">Description</label>
    <textarea name="description"><%= classes.description %></textarea>
  </p>

  <p>
    <label for="équipement">Équipement</label>
    <textarea name="équipement"><%= classes.équipement %></textarea>
  </p>

  <input type="submit" name="Enregistrer">
</form>


