<h2>Galerie multimédia</h2>
<div class="ancre-liste">
  <a class="ancre" href="#section-images">aller à Images</a>
  <a class="ancre" href="#section-videos">aller à Vidéos</a>
</div>
<section id="section-images" class="images">
  <h3>Images</h3>
        <% for(let i = 0; i < medias.images.length; i++) { %>
          <div data-id="<%=medias.images[i].id%>" class="image-item">
            <p><%= medias.images[i].titre %></p>
            <p><img class="img-galerie" src="<%= medias.images[i].url %>" alt="<%= medias.images[i].titre %>"></p>
            
          </div>
        <% } %>
</section>

<div class="ancre-liste">
  <a class="ancre" href="#section-images">aller à Images</a>
  <a class="ancre" href="#section-videos">aller à Vidéos</a>
</div>

<section id="section-videos" class="videos">
  <h3>Vidéos</h3>
      <% for(let i = 0; i < medias.videos.length; i++) { %>
        <div data-id="<%=medias.videos[i].id%>" class="video-item">
            <p><%= medias.videos[i].titre %></p>
            <iframe  src="<%= medias.videos[i].url %>" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen"  allowfullscreen ></iframe>
        </div>
      <% } %>
  
</section>
