<h2>Gestion des images</h2>

<a class="back" href="images/addImage">Ajouter une image</a>

<table class="admin-table">
	<thead>
			<th>Titre</th>
            <th>Image</th>
            <th></th>
            
	</thead>
	<tbody>
		<% for(let i = 0; i < images.length; i++) { %>
			<tr data-id="<%=images[i].id%>">
				<td>
					<%=images[i].titre%>
				</td>
                <td>
                    <img class="mini-img" src="/<%=images[i].url%>" alt="<%=images[i].titre%>">
                </td>
				<td>
                    <a class="edit" href="/admin/images/editImage/<%=images[i].id%>">edit</a>
                    <button class="js-remove-image-button" data-id="<%=images[i].id%>">supp</button>
                </td>
				
			</tr>
		<% } %>
	</tbody>
</table>



<script language="javascript" src="/js/index.js"></script>