<article data-id="<%=actus.id%>" class="actualité-selected">

    <h2><%=actus.titre%></h2>

    <p>
        <img class="actu-img" src="/<%=actus.image_url%>" alt="<%=actus.titre%>">
    </p>

    <p class="actu-texte">
        <%=actus.contenu%>
    </p>
    
    
    
    <div><%=actus.date.toLocaleDateString()%></div>
</article>