<article>
    <img class="logo" src="/<%= classes.classe_logo_url %>" alt="<%= classes.nom %>">
    <h2><%= classes.nom %></h2>

    <img class="class-img" src="/<%= classes.image_url %>" alt="<%= classes.nom %>">

    <h3>Introduction</h3>
    <p><%= classes.description %></p>
    
    <h3>Les compétences</h3>
    <img class="skill-img" src="/<%= classes.competence_image_url %>" alt="<%= classes.nom %>">
    
    <h3>les équipement </h3>
    <p><%= classes.équipement %></p>
</article> 