<h2>Gestion des vidéos</h2>

<p>
	<a class="back" href="videos/addVideo">Ajouter une video</a>
</p>

<table class="admin-table">
	<thead>
			<th>Titre</th>
            <th>Video</th>
            <th>edit/supp</th>
            
	</thead>
	<tbody>
		<% for(let i = 0; i < videos.length; i++) { %>
			<tr data-id="<%=videos[i].id%>">
				<td>
					<%=videos[i].titre%>
				</td>
                <td>
                    <iframe width="200" height="100" src="<%=videos[i].url%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>			
                </td>
				<td>
                    <a class="edit" href="/admin/videos/editVideo/<%=videos[i].id%>">edit</a>
                    <button class="js-remove-video-button" data-id="<%=videos[i].id%>">supp</button>
                </td>
				
			</tr>
		<% } %>
	</tbody>
</table>



<script language="javascript" src="/js/index.js"></script>